<mat-card color="primary" fxLayout="column" fxLayoutAlign="start left">
  <mat-card-title>Cadastro de Produtos</mat-card-title>
  <mat-card-content>
    <div class="content">
      <div>
        <h2>FrontEnd</h2>
        <p>Projeto Desktop desenvolvido em Angular 13, Angular Material, FlexLayout, FlexBox.</p>
      </div>
      <div>
        <h2>BackEnd</h2>
        <p>API desenvolvida Node/Json-server.</p>
      </div>
      <div>
        <h2>Utilização do App</h2>
        <p>Clique no botão iniciar ou no icone <span class="material-icons" routerLink="/produtos">inventory</span>(Produtos) do cabeçalho.</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/produtos">
      Iniciar
    </button>
  </mat-card-actions>
</mat-card>
