<mat-card>
  <mat-card-title>Cadastro de Produtos</mat-card-title>
  <mat-card-content>
    <div class="content">
      <ul>
        <h2>FrontEnd</h2>
        <li>Projeto Desktop desenvolvido em Angular 13, Angular Material, FlexLayout, FlexBox.</li>
      </ul>
      <ul>
        <h2>BackEnd</h2>
        <li>API desenvolvida Node/Json-server.</li>
      </ul>
      <ul>
        <h2>Utilização do App</h2>
        <li>Clique no botão iniciar ou no icone <span class="material-icons" routerLink="/produtos">inventory</span>(Produtos) do cabeçalho.</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/produtos">
      Iniciar
    </button>
  </mat-card-actions>
</mat-card>
