mat-dialog-content {
  scroll-margin-block-start: 0;
}

mat-form-field {
  width: 100%;
}

.setRadio {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(65, 125, 255, 0.2);
  padding-left: 15px;
}

mat-radio-button {
  margin-left: 15px;
}

.lblTipo {
  color: #3f51b5;
}
