.mat-dialog-content {
    // max-height: 65vh !important
}

.setRadio {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(65, 125, 255, 0.2);
}

mat-radio-button {
  margin-left: 10px;
}

.lblTipo {
  color: #3f51b5;
}
