<mat-toolbar color="primary" flexLayout="row">
  <span fxFlex="30" fxLayoutAlign="start center" routerLink="/" class="title"><img src="../../../../assets/logoB.svg" alt="Logo">{{title}}</span>
  <!-- <span fxFlex="100%"></span> -->
  <div fxFlex="70" fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button aria-label="Dashboard" matTooltip="Dashboard" routerLink="/dashboard">
      <span class="material-icons">dashboard</span>
    </button>
    <button mat-icon-button aria-label="Cadastro de Produtos" matTooltip="Cadastro de Produtos" routerLink="/produtos">
      <span class="material-icons">inventory</span>
    </button>
  </div>
</mat-toolbar>
